.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  /* height: 350px; */
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  margin: 16px;
  padding: 10px;
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.product-price,
.product-stock {
  font-size: 16px;
  font-weight: bold;
  color: rgb(3, 193, 3);
  margin: 8px 0;
}
.product-stock {
  font-size: 14px !important;
  color: #000;
}

.product-description {
  font-size: 14px;
  color: #666;
  margin: 8px 0;
  overflow-y: auto;
  padding: 8px;
  p {
    margin-top: unset;
  }
}

.toggle-description-link {
  font-size: 14px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.toggle-description-button:hover {
  background-color: #f2f2f2;
}
.image-container {
  position: relative;
  .product-price {
    position: absolute;
    top: 0;
    padding: 5px;
    background: white;
    border-radius: 5px;
    left: 5px;
  }
}
.card-content {
  height: 300px;
}
.stock-cart {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
